@{
    ViewBag.Title = "Confirm Email Address Sent";
}

<div class="row" style="color:white">   
    <div class="col-md-8">
        <h2>@ViewBag.Title.</h2>
        <p>
            Please check your Email Inbox, a confirm Email is Sent to @ViewBag.Email
        </p>
    </div>
</div>

