@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row" style="color:white">
    <hgroup class="title" >
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div class="col-md-8">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
    </div>

