<h5 style="color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:40px">About us</h5>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-8" style="color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:20px">
            <p>
                We are students of Mahatma Gandhi Institute of Technology, Hyderabad.                
            </p>
            <ol>
                <li>SWAPNA, ECE(III Year)</li>
                <li>RAMYA, ECE(III Year)</li>
                <li>PRAVALLIKA, ECE(III Year)</li>
                <li>SRIVALLI, ECE(III Year)</li>
                <li>BHARGAVI, ECE(III Year)</li>
                <li>PRASANNA, ECE(III Year)</li>
            </ol>
            <p>
                We are having a great passion towards technology and wanted to bring innovation in security and its implementation.
                But, one need to be cautious on having better understanding of security threats.
                
                </p>
            <p>
                The world today is coming closer. 
                From communicating to one person sitting at the other end of the world to finalizing business deals, everything has become fast and quick. The reason for this is the massive internet boom which has made life easier for the average person by providing a plethora of options. 
                What’s more it has also made your shopping experience a more interesting and enjoyable one. You can now get practically everything from online shopping.
            </p>
            
        </div>
    </div>
</div>