@{
    ViewBag.Title = "Contact Us";
}


<div class="row" style="color:white">
    <h2>@ViewBag.Title.</h2>
           
    <address>
        Mahatma Gandhi Institute of Technology<br />
        Chaitanya Bharati Post, Gandipet<br />
        HYDERABAD - 500 075<br />
        <abbr title="Phone">P:040-24193070</abbr>        
    </address>

    <address>
        <strong>Admin Office:</strong>   <a href="#" style="color:white">adminoffice@mgit.ac.in</a><br />
        <strong>ECE Department:</strong> <a href="#" style="color:white">ece@mgit.ac.in</a>
    </address>
    </div>