@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Digital Signature</h1>

    </div>*@

<div class="container">

    <table>
        <tr>
            <td>
                <div style="background-color:transparent;align-content:center;margin-left:50%;width:100%">
                    <h5 style="color:yellow;font-family:Tahoma;font-size:large">                        
                        <p align="center">WELCOME TO DIGITAL SIGNATURE </p>
                            MAHATMA GANDHI INSTITUTE OF TECHNOLOGY, HYDERABAD                        
                    </h5>
                </div>
                </td>
        </tr>
        <tr>
            <td>
                <div style="background-color:transparent"><h5 class="mt-0" style="color:yellow;font-family:Tahoma;font-size:large">How does Digital Signature Works!</h5></div>
                <img class="mr-3" style="background-color:transparent" src="~/images/digi1.jpg" width="450" height="450" />
                <div class="media-body" style="color:yellow">
                    A digital signature is a mathematical scheme that demonstrates the authenticity of a message or document. A valid digital signature gives the recipient reason to believe that the message was created by a known sender, such that the sender cannot deny having sent the message (authentication and non-repudiation) and that the message was not altered in transit (integrity).
                </div>
            </td>
            <td>
                <div style="background-color:transparent"><h5 class="mt-0" style="color:yellow;font-family:Tahoma;font-size:large">Scenario/Use Case</h5></div>
                <img class="mr-3" style="background-color:transparent" src="~/images/digitalsignature.png" width="450" height="450" />
                <div class="media-body" style="color:yellow">                    
                    A digital signature scheme consists of three algorithms:
                    <strong>
                        1.A key generation algorithm that generates a private and public key, such as RSA.
                        2.A signing algorithm that, given a message and a private key, produces a signature.
                        3.A signature verifying algorithm that, given a message, public key and a signature, either accepts or rejects the message’s claim to authenticity.
                    </strong>
                </div>

            </td>
        </tr>
    </table>
</div>






@*<div class="row">
        <div class="col-md-4">
            <h2>How Digital Signature works!</h2>
            <div>
                <img src="~/images/digi1.jpg" />
            </div>
        </div>

        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@