@{
    ViewBag.Title = "Info";
}

<div class="row">
    <div class="col-md-8" style="color:white">
        <p>
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

        </p>
    </div>
</div>
